<table class="table table-sm">
          <thead>
              <tr>
                  <th>ReviewId</th>
                  <th>Created</th>
                  <th>Name</th>
                  <th>Comment</th>
                  <th>Rating</th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
              @foreach(var r in Model.Reviews)
              {
                  <tr>
                      <td>@r.ReviewId</td>
                      <td>@r.CreatedOn</td>
                      <td>@r.Name</td>
                      <td>@r.Comment</td>
                      <td>@r.Rating</td>
                      <td><a data-toggle="modal" data-target="#deleteModal" asp-route-itemid="@r.ReviewId">Delete</a></td>
                      <!--href included above to by pass bootstrap removing hyperlink colour-->
                  </tr>
              }
          </tbody>
      </table>
      <!-- Add Review -->
            <a asp-controller="Movie" asp-action="CreateReview" asp-route-id="@Model.Id" class="btn btn-sm btn-info mr-2">
                Add Review
            </a>
      